[*.cs]

# RS1003: Unsupported SymbolKind argument while registering a symbol analyzer action.
dotnet_diagnostic.RS1003.severity = error

# RS1002: Missing kind argument while registering an analyzer action.
dotnet_diagnostic.RS1002.severity = warning

# RS1007: Provide localizable arguments to diagnostic descriptor constructor.
dotnet_diagnostic.RS1007.severity = none
